/************************************
GENERAL BOXES AND BODY
************************************/
body {
  background-color: maroon;
  font-family: 'VT323', 'Roboto Mono', 'sans-serif'; }

header {
  height: 50px; }

.border {
  border: 5px outset gold; }

.borderdbl {
  border-style: outset;
  border-width: 5px;
  border-color: gold; }

.top {
  background-color: white;
  height: 500px; }

.bottom {
  background-color: white;
  height: 200px; }
  .bottom div {
    height: 200px; }

.nothere {
  display: none; }

/************************************
TOP LEFT
************************************/
.topLeft {
  background-color: teal;
  height: 500px; }

.weapSec {
  display: block;
  text-align: center;
  font-size: 2em; }

.items {
  margin: 15px;
  list-style: none;
  padding: 0; }
  .items .weapon {
    height: 75px;
    width: 75px;
    overflow: hidden;
    margin: 10px auto;
    background-color: steelblue; }

/************************************
TOP RIGHT
************************************/
.topRight {
  background-image: url(images/camp.png-original);
  background-size: cover;
  height: 500px; }

#upperRight {
  height: 92%; }

.campRight {
  height: 92%; }
  .campRight .campText {
    background-color: white;
    border-radius: 5px;
    padding: 0 5px; }

.gamblers {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-top: 15%; }

.dragonBackground {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url(http://i60.photobucket.com/albums/h10/lothaer/Cataclysm/deathwing.gif); }

#lowerRight {
  height: 7%; }
  #lowerRight .navBut {
    width: 100%;
    height: 100%; }
    #lowerRight .navBut button {
      width: 25%; }

.enemyWindow {
  float: right;
  border: 5px outset darkgoldenrod;
  background-color: white;
  margin-top: 5%;
  padding-right: 0; }

.enemySats {
  padding: 10% 2%; }
  .enemySats .enstats {
    margin: 0;
    padding: 0; }

.enemyPic {
  border-left: 5px outset darkgoldenrod;
  padding: 10%; }

.enNameBox {
  text-align: center;
  border-top: 5px outset darkgoldenrod;
  border-left: 5px outset darkgoldenrod;
  float: right; }

.interactButs {
  text-align: center;
  margin-top: 5%; }

.atkBut {
  width: 60%;
  margin: 10px auto; }

.runBut {
  width: 60%;
  margin: 10px auto; }

/************************************
BOTTOM LEFT
************************************/
div.stats {
  height: 17%;
  font-size: 1.5em; }

/************************************
BOTTOM RIGHT
************************************/
.contentText {
  font-size: 2em; }
